.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 150;

  background-color: $button-color;
  transform: translate(-50%, -50%) scale(1);

  transition: transform 250ms $timing-function;

  @media screen and (min-width: 480px) {
    width: 450px;
    min-height: 609px;
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
  }
}

.close-modal {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;

  height: 30px;
  width: 30px;
  border-radius: 50%;

  background-color: $button-color;
  margin-left: auto;
  margin-right: 8px;
  margin-top: 8px;
  cursor: pointer;

  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: transform 250ms $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
    border: none;
  }
}
