.body {
  background-color: #ffffff;
  color: $primary-text-color;

  font-family: $primary-font;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.list .list-item + .list-item {
  margin-left: 30px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
}
