$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$button-color: #ffffff;
$primary-br-color: #ffffff;
$secondary-br-color: #f5f4fa;
$footer-br-color: #2f303a;
$icon-color: rgba(175, 177, 184, 1);

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

$primary-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;
